body{
    background-color: #f5f5f5;
}
.center-content{
    text-align: center;
}
.content{
    text-align: left;
}
.right-content{
    text-align: right;
}
.link1{
    text-decoration: underline;
}